settings-accesspoint
  h3 { __('Accesspoint') }
  m-loader(if='{ !formData }')
  form#settings-form(if='{ formData }' onsubmit='{ formSubmit }')
    fieldset
      div
        label(for='ssid') { __('Network SSID:') }
        input(
          type='text'
          maxlength='31'
          value='{ formData.ssid }'
          name='ssid'
        )

      div
        label(for='pwd') { __('Password:') }
        input(
          type='password'
          maxlength='31'
          value='{ formData.pass }'
          name='pwd'
        )

      div
        label(for='always') { __('Always use as accesspoint:') }
        input(
          type='checkbox'
          checked='{ formData.always }'
          name='always'
        )

      div(if='{ message }' class='{ message.type }') { message.text }
      m-submit

  script.
    this.mixin('i18n', 'mixins');

    this.formUrl = '/settings/ap';

    this.getFormData();

    this.formSubmit = () => {
      let submitData = {
        ssid: this.ssid.value,
        pwd: this.pwd.value,
      };
      this.postFormData(submitData);
    }
